<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login to facehub</title>
</head>
<body style='border:1px solid #333; height:560px;'>
    <div class='header' style='background-color: rgb(245,0,87); color: white; height: 50px;line-height: 50px; padding-left: 50px;'>
    Facehub
    </div>
    <div class='main' style='padding:50px;'>
        <h3 style='font-size: 14px; font-weight: 200;'>
           亲爱的ThoughtWorker， 
        </h3>
         <h3 style='font-size: 14px; font-weight: 200;'>
            感谢参加Facehub测试，请直接点击下方链接进入：
         </h3>
        <a href="{{{host}}}?token={{{token}}}&uid={{uid}}">{{{host}}}?token={{{token}}}&uid={{uid}}</a>

        <h4 style='font-size: 13px; font-weight: 400;'>
            Facehub Team.
        </h4>
    </div>
</body>
</html>

